//colores, tipografías y tamaños globales.//

/* colores */

$color-background:#f5f5f5;
$color-text:#111;
$color-accent:#ff4d5a;


/* tipografía */

$font-main:Arial, Helvetica, sans-serif;


/* tamaños */

$max-width:1200px;


/* breakpoints */

$tablet: 768px;
$desktop: 1200px;